[2016-11-09 16:52] mxstbr opened #1 "Name"
I'm not set on the name, this was literally the first thing I could come up with. If you have a better idea just shout and I'll rename it!

[2016-11-09 16:54] mxstbr opened #2 "API"
Not sure how much or little this module should do.

It could do the whole CSS string -> ReactNative object thing, but it could also just be responsible for the ReactNative specific styles:

[code]

In this case it would just check if it's one of the special reactnative declarations and then transform just those, otherwise return the value unchanged.

What do you think?

[2016-11-09 17:05] jacobp100 commented on #2
I think we should have the default export be string => style map, but also expose declaration[] => stylemap. I don't think it's safe to assume 1 declaration = 1 property, since it would be nice to allow shorthands at some point.

[2016-11-09 19:14] mxstbr commented on #2
Sure, you go ahead then, I'm sure you've thought about this more than I have! :D

[2016-11-09 20:11] jacobp100 opened #3 "Discussion: Implementation"
I’ve put a quick demo implementation using pegJS for parsing. While it doesn’t currently show the full potential, I think if we do start allowing shorthands, like `border: 1px solid`, it’ll be very useful to be using something like this. However, it could also be overkill.

How do people want to handle parsing?

[2016-11-10 07:12] mxstbr commented on #3
Well, we use PostCSS for our styled-components code. If you find something smaller that can handle nesting etc., that'd be much better!

[2016-11-10 11:21] jacobp100 commented on #3
It still uses PostCSS to parse declarations, but the actual values for the declarations, I’ve done with pegJS (which I just changed to Nearley). I did look at using external css shorthand parsers for these things, but they don’t cover all properties, usually aren’t maintained, and don’t fit quite as nicely. I’ve got quite a lot of mileage out of doing it this way.

Would be interested to see what

[2016-11-11 12:17] jacobp100 commented on #2
I’ve added API docs to the README. The only thing I’m wondering now is if we actually want to include postCSS at all. We could have the entire API be,

[code]

Which means people using it without postCSS could do so without bloat. Then people using postCSS can just do,

[code]

Thoughts?

[2016-11-11 16:32] mxstbr commented on #2
Sounds good to me!

[2016-11-11 17:37] jacobp100 commented on #2
Neat! Should be ready to publish—just run `npm run build` first!

[2016-11-17 09:36] mxstbr commented on #2
Sorry man, I totally dropped the ball on this! Back on it, let's land this! 🎉

[2016-11-17 09:45] mxstbr commented on #3
I like it. Let's close this for now and iterate as we go! Great job man!

[2016-11-17 09:45] #3 closed

[2016-11-17 09:45] #1 closed

[2016-11-17 09:50] mxstbr commented on #2
Published v1.0.0 and added you on npm!

[2016-11-17 09:50] #2 closed

[2016-11-17 10:33] jacobp100 commented on #2
@mxstbr Hi sorry. Would it be possible to run `npm build` and republish. It’s my fault, I should really learn how to use the npm publish scripts!

[2016-11-17 10:36] mxstbr commented on #2
You can totally do that yourself, I've added you on npm, but I'll do it this time!

[2016-11-17 10:40] jacobp100 commented on #2
Just noticed that. Thanks! I’ve just added the prepublish hook now!

[2016-11-21 10:57] mxstbr opened #4 "Add CI"
Since this is (as of `styled-components@1.1.0`) a core part of our ReactNative support, it'd be great to add a `.travis.yml` and run tests on CI.

[2016-11-21 10:58] mxstbr opened #5 "Add linting"
Would be great to add the same linting we have over at the main repo to make sure the code style is consistent and switching between repos isn't a hard context switch due to superficial code style differences.

We can probably just copy the `.eslintrc` from the main repo.

[2016-11-21 10:59] jacobp100 commented on #5
Feel free!

[2016-11-21 11:01] jacobp100 opened #6 "font-family Property"
Currently, when you define `font`, you currently have to wrap the font family in quotation marks: `font: 12 “Helvetica”`. When you define the `font-family` property, you define it without quotes: `font-family: Helvetica`. There is an inconsistency between the two.

The CSS spec has confusing behaviour, where you can omit quotes in some cases. ([See valid family names here](https://developer.mozill

[2016-11-21 11:02] mxstbr commented on #6
Sorry, how are we breaking the CSS spec? Which part is in ReactNative and which in CSS?

[2016-11-21 11:02] mxstbr commented on #5
Oh I just saw we already have linting. Nevermind, closing!

[2016-11-21 11:02] #5 closed

[2016-11-21 11:11] jacobp100 commented on #6
Updated comment.

[2016-11-21 11:13] mxstbr commented on #6
That's weird. I'd hate to break existing code!

I would much rather follow the spec or be even looser to make sure developers don't get bitten by spec weirdness. What do you think, can we just allow both quotes and not quotes in all instances?

[2016-11-21 11:26] jacobp100 commented on #5
I don’t mind if you want to make it match the main project—I’m mostly going to work on `grammar.ne` anyway!

[2016-11-21 11:35] jacobp100 commented on #6
I just did a branch: [this test](https://github.com/styled-components/css-to-react-native/pull/7/files#diff-2382a7144b80bd7c6cfe69ed37c02f0cR293) shows existing code breakage. I’d wonder how many would be affected by that—I don’t think there are any system font names that would break.

I’m worried that if we don’t follow the spec, there could be a grammar ambiguity later that might be harder to re

[2016-11-21 11:59] mxstbr commented on #6
You might be right, but we can only publish this as a major version of both `css-to-react-native` and `styled-components`, so let's ship this whenever we get around to v2 of `styled-components`?

[2016-11-21 12:14] tlvenn opened #8 "Could this module be the home for RN media query support ?"
Hi,

Following on the issue I opened there: https://github.com/styled-components/styled-components/issues/203 could this new module dedicated to RN be the home to support media query on RN ?

It will likely bring some dependencies so I am wondering if we want to have RN material all in one module (this one ?) or should we create specialized RN modules ?

[2016-11-21 12:46] jacobp100 commented on #6
Sure!

[2016-11-24 05:36] jh3y opened #11 "borderRadius property regression?"
I had opened up an issue over on `styled-components` [here](https://github.com/styled-components/styled-components/issues/248) about the `borderRadius` property on native.

It seems going from version `1.0.11` to `1.1.1` in `styled-components` regressed how `borderRadius` would work.

`borderTopLeftRadius` etc. seemingly have no effect when developing for native from what I can tell in the simulat

[2016-11-24 08:02] jacobp100 commented on #11
I'll have to test this. RN claims to support this. https://facebook.github.io/react-native/docs/view.html#style

[2016-11-24 08:16] mxstbr commented on #11
I don't quite understand what the issue here is, what should be happening that isn't happening?

[2016-11-24 10:23] jacobp100 commented on #11
I’m not able to reproduce this on 0.38. You are correct in how `border-radius` splats into `borter-{top,bottom}-{left,right}-radius`, but that does seem to work.

![screen shot 2016-11-24 at 10 08 22](https://cloud.githubusercontent.com/assets/7275322/20594744/477cb62a-b22f-11e6-8402-e5eafc4793c5.png)
![screen shot 2016-11-24 at 10 17 41](https://cloud.githubusercontent.com/assets/7275322/20594747

[2016-11-24 12:38] jh3y commented on #11
I've just tested this out again using `react-native@0.38` and `styled-components@1.1.1`, same issue.

In the simulator, could you inspect that with the inspector and see what style properties are given?

What is `cssta(View)`? I'm using `styled.Image` to get this issue.

@jh3y

[2016-11-24 14:16] jacobp100 commented on #11
Got you. It’s fixed in #13.

[2016-11-24 14:21] jh3y commented on #11
I don't think it can be fixed here can it? I think this is potentially a `react-native` issue.

`borderTopLeftRadius` etc. work differently with `Image` to how they do with `View`.

It would be a nice to have for now if only supplying one value, it only output `borderRadius` though 😎

@jh3y

[2016-11-24 14:30] jacobp100 commented on #11
Can you not wrap the image in a View, and use `overflow: hidden`?

[2016-11-24 14:33] jh3y commented on #11
Yeah I mentioned that as a solution above but then that means refactoring every instance of an `Image` component that is rounded to be wrapped by a `View` which isn't ideal overhead if it works how I intend when using `styled-components@1.0.11` 😕

[2016-11-24 14:38] jacobp100 commented on #11
I’m thinking, special casing is going to be hard:

[code]

Maybe we need to turn off this shorthand for the time being. @mxstbr

[2016-11-24 16:52] mxstbr commented on #11
Let's turn it off then!

[2016-11-24 16:52] mxstbr commented on #11
But that's a major version release again, ugh

[2016-11-24 17:06] jacobp100 commented on #11
That's true. Maybe we just document the behaviour?

[2016-11-24 17:08] jacobp100 commented on #11
Although I suppose this was a breaking change in the first place? I believe semver says we should revert the breaking change.

[2016-11-24 17:13] mxstbr commented on #11
Oh if it was a breaking change in the first place let's push this as a patch. Would you mind doing that?

[2016-11-24 17:49] jh3y commented on #11
Happy to help if required :smile:

[2016-11-24 18:21] jacobp100 commented on #11
Over here! https://github.com/styled-components/styled-components/compare/fix-border-radius?expand=1

[2016-11-28 13:44] MatthieuLemoine opened #17 "Error when parsing padding or margin with half value"
When I use the shorthand key ``padding``or ``margin``, the following error is thrown if one of the values contains a dot.

[code]

Component :

[code]

But the following works great :

[code]

[2016-11-28 14:30] jacobp100 commented on #8
Styled-components would be the best bet for this issue. I’ll close this, and the discussion can continue on the other thread.

[2016-11-28 14:30] #8 closed

[2016-11-28 17:37] #17 closed

[2017-01-11 15:53] jacobp100 opened #20 "Units?"
RN now to supports percentages now. I.e. `{ height: "50%" }`. We actually mostly support this, so you can write `height: 50` or `height: 50%`, and both will work.

This makes it a little inconsistent, where sometimes you include a unit, and sometimes you don’t. We should try and achieve more consistency by forcing a unit when the value is a length. In the previous example, you would have to write

[2017-01-12 18:24] jacobp100 commented on #20
@mxstbr Thoughts?

[2017-01-20 13:39] mrpatiwi commented on #20
+1

I think supporting units for React-Native (or just numbers in React web) could make `styled-components` a real universal styling library.

[2017-01-21 14:49] mxstbr commented on #20
LGTM

[2017-02-19 22:04] f0rr0 opened #26 "include-font-padding"
How do I set `includeFontPadding: false` in css? RN expects the value to be a Boolean.

[2017-02-20 03:29] f0rr0 opened #27 "React Native Shorthand notation in props"
Closing https://github.com/styled-components/styled-components/issues/517 and moving it here.

[code]

Possible duplicate: https://github.com/styled-components/styled-components/issues/403

[2017-02-20 09:27] jacobp100 commented on #27
This is an issue in styled-components—it is the bug you linked. We're producing the right output here (see [tests](https://github.com/styled-components/css-to-react-native/blob/ac4ee18ec5930c5ed28cd3843c5404fd81afc84e/src/index.test.js#L202-L204)).

[2017-02-20 09:27] #27 closed

[2017-02-20 09:28] jacobp100 commented on #20
Added in v2

[2017-02-20 09:28] #20 closed

[2017-02-20 09:31] jacobp100 commented on #6
Added in v2

[2017-02-20 09:31] #6 closed

[2017-03-04 11:22] IljaDaderko commented on #20
@jacobp100 does this mean we must include px values now? I opened an issue #559 have a feeling that this might be related.

[2017-03-14 22:40] #26 closed

[2017-03-28 03:43] tlvenn commented on #20
I understand the rational and the intention behind this but I find it a bit disturbing given RN does not use pixel unit at all... Quoting RN doc:

[2017-03-28 03:47] tlvenn commented on #20
It would honestly be super weird if all of the sudden we are forced to suffix 'px' unit in our RN projects...

[2017-03-28 05:21] tlvenn commented on #20
Sorry for spamming this issue ;) Instead of using 'px' which I believe is the wrong unit for RN, why not use 'dp' ?

[2017-03-28 07:46] jacobp100 commented on #20
In CSS, `px` doesn't mean physical device pixels. [(spec)](https://www.w3.org/TR/css3-values/#px)

[2017-04-01 08:34] tlvenn commented on #20
Ha good point @jacobp100 , never realised that in the CSS spec `px` is density independent.

[2017-04-01 19:54] brunolemos opened #31 "undefined is not a function (evaluating 'tokenDescriptors[typeof Symbol === "function" ? Symbol.iterator : "@@iterator"]()')"
OS: Android only
Weird: Only happens when Remote JS Debugging is `disabled`
styled-components: v2.0.0-7
css-to-react-native: v2.0.1

[code]

[2017-04-02 06:30] mxstbr commented on #31
That's a bug on our side I think? We shouldn't have any Symbols in the compiled codebase.

[2017-04-02 10:27] #31 closed

[2017-04-02 20:25] jacobp100 commented on #31
Newest version published, easiest course is nuke your node_modules and try again! Let me know if there are further issues!

[2017-04-06 15:53] jacobp100 opened #34 "RTL"
Yoga has support for things like `border-start`, which is the `border-left` on LTR, and `border-right` on RTL. [Source](https://facebook.github.io/yoga/docs/rtl/)

Should our shorthands use this instead of `left`/`right`?

I.e. `padding: 1px 2px 3px 4px` would have `padding-end: 2px` rather than `padding-right: 2px`.

[2017-04-08 07:02] brunolemos commented on #31
@jacobp100 thanks, that works!

I tried to open a pull request but instead I commited to v2 branch: https://github.com/styled-components/styled-components/commit/7e3c3040cf04648c77425507543432b0213676d5

Forgot I got write access. If you want to revert it no problem.

Thanks.

[2017-05-02 05:22] fxfactorial opened #36 "Generated stylesheet breaks, doesn't correctly change px to plain number"
Given this:

[code]

Then I get an error with RN `"react-native": "0.42.0"`, this is with `"styled-components": "^1.4.5",`.
<img width="511" alt="screen shot 2017-05-01 at 9 25 26 pm" src="https://cloud.githubusercontent.com/assets/3036816/25604978/a5572f64-2ebc-11e7-94e4-7482ce974214.png">

Of course it does work when I drop the 'px', Thanks.

[2017-05-02 07:40] jacobp100 commented on #36
Styled-components v1 is using v1 of this library. Unit support was only added in v2.

[2017-05-02 07:40] #36 closed

[2017-05-02 07:46] fxfactorial commented on #36
@jacobp100 Okay, so besides closing is there any advice? I should just wait until styled-components catches up?

[2017-05-02 08:34] jacobp100 commented on #36
It's in SC v2, since it was a breaking change. Not sure what the timeline for that being released though!

[2017-05-02 08:36] jacobp100 commented on #36
Also you can omit units for now, and we have a [code transform](https://github.com/styled-components/styled-components-native-code-mod) to add them later.

[2017-05-15 17:23] apexskier opened #37 "Error: Failed to parse declaration "flex: 0 1""
The shorthand property
[code]

Should be parsed to
[code]

reproduction on the node repl:
[code]

[2017-05-15 18:46] jacobp100 commented on #37
Thanks for finding this! It turned out to be zeros showing up as falsy values—and would have actually effected a lot more shorthands!

[2017-05-22 08:14] #37 closed

[2017-05-22 08:18] #34 closed

[2017-05-26 10:30] kitten opened #40 "Unitless shorthands"
So on SC we've seen some complaints about properties being able to be unitless, e.g. `padding-top: 2`, but not shorthands: `padding: 2px`.

This probably comes from the difference here: https://github.com/styled-components/css-to-react-native/blob/master/src/index.js#L8

And here: https://github.com/styled-components/css-to-react-native/blob/master/src/tokenTypes.js#L31

Since most directions don'

[2017-05-26 17:33] jacobp100 commented on #40
It's sort of difficult because if we do this, we essentially create a whitelist of properties. It just means if RN adds new styles anywhere, we have to keep up-to-date.

[2017-06-20 21:39] aminroosta commented on #17
@jacobp100 I get `Failed to parse declaration 'padding: 5'` with `v2.1.0`.

[2017-06-29 21:52] Kingles opened #43 "`flex: 0 1 auto` causes a "Failed to parse declaration" error"
the default value for the `flex` shorthand (`0 1 auto`) fails to be parsed by `css-to-react-native` when passed through `styled-components`

repro case:

[code]

[2017-06-29 23:19] Kingles commented on #43
seems as if https://github.com/styled-components/css-to-react-native/blob/master/src/transforms/flex.js#L33 may hold the key here. Perhaps
[code]
could be a workable solution.

[2017-07-11 21:21] #43 closed

[2017-07-27 01:38] gurs1kh opened #45 "Any plans for adding support for units such as pt, em, etc?"
Often for things like font size, it is much more common to see `pt` or `em` used instead of `px`. Are there any plans for adding support for these?

[2017-07-27 06:24] jacobp100 commented on #45
Maybe `pt`. `em` isn't feasible, since we don't have access to the current text size.

[2017-07-27 06:24] #45 closed

[2017-07-27 07:30] jacobp100 commented on #45
If you wanted to look at this, I suspect it's relatively straight forward: you'd just have to additionally capture `pt` in [`lengthRe`](https://github.com/styled-components/css-to-react-native/blob/master/src/tokenTypes.js), and add a transform that takes this into account.

[2017-07-28 00:40] gurs1kh commented on #45
I'm having difficulty understanding the exact structure of the code, but from what I'm seeing, adding the capture to `lengthRe` wouldn't work since `regExpToken` would convert it into a `Number`, and get rid of the "pt" in the value passed. Assuming that's the case, a new token may be needed for this. Is this correct?

[2017-07-28 06:33] jacobp100 commented on #45
You'll need to swap out the `Number` part too! You could modify `regExpToken` to pass in all capture groups too if that makes it easier

[2017-08-02 15:03] sibelius opened #46 "does it support Platform.select?"
in StyleSheet we can have this:

[code]

how this works on styled-components?

[2017-08-02 16:50] jacobp100 commented on #46
I think you have the wrong repo, but in SC, you can just interpolate this.

[code]

[2017-08-02 16:50] #46 closed

[2017-08-02 19:15] grsabreu commented on #46
hey @jacobp100, first of all, thanks for the great lib!

I know this is already closed, but do you think it would be out of the scope of `css-to-react-native` creating a `Platform.select` shorthand with this syntax:

[code]

or maybe

[code]

[2017-08-03 06:29] jacobp100 commented on #46
So this library just takes property and value pairs instead of blocks of CSS. You could ask on the styled-components repo—that shouldn't be too hard to implement.

[2017-08-31 12:53] achtan opened #48 ":hover with react-native and react-native-web"
Hi, i'm using styled-components in react-native app
lets say i have Link component:

[code]
then i 'compile' my RN code with [react-native-web](https://github.com/necolas/react-native-web)

all is great expect that hover is not working (text color remains `red` on hover)

my guess is that css-to-react-native is removing the `hover` definition

any idea how to fix this?

[2017-08-31 13:00] mxstbr commented on #48
`react-native-web` does not support pseudoselectors, `css-to-react-native` is not doing anything wrong here.

See https://github.com/necolas/react-native-web/blob/d1d570268a4f3fcccb6b73a88afaaf7f0dcb68ed/docs/guides/style.md#what-about-pseudo-classes-and-pseudo-elements

[2017-08-31 13:16] achtan commented on #48
@mxstbr thx for quick answer, but can you double check, please
because this code is working:
[code]

[2017-08-31 13:19] mxstbr commented on #48
Is that rendered to the web?

[2017-08-31 13:45] achtan commented on #48
yes
[code]
and ind `style` definition is
[code]

[2017-08-31 15:15] jacobp100 commented on #48
It's a problem here:

https://github.com/styled-components/styled-components/blob/9c98a6edff9d13ac0a7851c52be156aea2d2a2ca/src/models/InlineStyle.js#L33-L40

[2017-08-31 15:25] mxstbr commented on #48
Hmm, does `/primitives` use that though? /cc @mathieudutour

[2017-09-01 13:19] mathieudutour commented on #48
not sure what this is but if it's working for `react-native` and `react-native-web`, it will work for `react-primitives`

[2017-09-21 08:03] achtan commented on #48
hi, any update on this one? should i wait for fix? because at this point I can't use styled-components...

[2017-09-21 08:14] mathieudutour commented on #48
Wait a second, if you use Aphrodite to create a css class and then render it on the web, then yes it will show a hover. Aphrodite doesn’t use `style`, it injects css directly in the html. `className` is not a valid prop for a react native view (hence not valid for react-primitives).

So there is nothing wrong with styled-components/primitives, your code is just not primitive compatible.

[2017-09-21 09:00] achtan commented on #48
so i cannot use styled-components in react-native compiled to web (with react-native-web) ?

[2017-09-21 09:00] mathieudutour commented on #48
you can, but you need to use what works for react native

[2017-09-21 10:42] achtan commented on #48
ok, but we have common components like Button, Link, Avatar... for web (react) and also for app (react-native)

so how should i define Link component that i can use on web and app, and i need hover effect on web...

@mxstbr any suggestions ?

[2017-09-21 10:45] mathieudutour commented on #48
you can use `Button.web.js` and `Button.ios.js` to define custom behavior on the platform you want. But when you use primitives, it should use things that work everywhere.

[2017-09-21 13:17] achtan commented on #48
ok, so lets say i have:
_Link.app.js_
[code]

_Link.web.js_
[code]

[2017-09-21 13:20] mathieudutour commented on #48
no no, you would have
_Link.web.js_
[code]

_Link.js (default)_
[code]

[2017-09-21 13:22] achtan commented on #48
thats not the way... i cannot duplicate the code...
my current Button is (and is not even finished):
[code]

[2017-09-21 13:23] jacobp100 commented on #48
_Link.js (default)_
[code]

_Link.web.js_
[code]

[2017-09-21 13:23] achtan commented on #48
className is working fine, except `:hover {...}` definition

[2017-09-21 13:23] mathieudutour commented on #48
just put what you want (can) to share in another file and import it?

[2017-09-21 13:27] mathieudutour commented on #48
no it doesn't: it's not doing anything on react native. What's the point of using primitives if it's to use them only on the web? a primitive is supposed to work the same way on every platform. If you want a special behavior (classes and hover), then you can use a `.web.js` file and `styled-components` to specify it.

[2017-09-22 06:58] achtan commented on #48
thx @jacobp100 your approach is working fine!

[2017-09-22 10:01] achtan commented on #48
OK, so i am back unfortunately... :/
so when i modify the @jacobp100 's code like this:

Link.js (default)
[code]

Link.web.js
[code]

color is not changed to blue on hover...

html output:
[code]

[2017-10-12 17:50] ryanscottaudio opened #49 "Is there a way to add a reverse of this?"
I'm looking for a repo to convert react-native styling into CSS; do you know of a repo that does that/would it be easy to convert this one to do that as well?

[2017-10-12 19:04] mxstbr commented on #49
We don't really have a use case, so it's unlikely we'll implement it :blush: Good luck finding a library that does that!

[2017-10-12 19:04] #49 closed

[2017-10-21 08:14] chinesedfan commented on #40
@jacobp100 Maybe there is really no elegant way to implement it. But this project is called "css-to-**react-native**", it is normal to include some logics that should always follow RN's steps.

cc @mxstbr.

[2017-10-25 17:20] NordlingArt opened #50 "Thought this was CSS to react native StyleSheet object?"
The module does the exact opposite. You take StyleSheet object and turn it into a CSS string with the transform function:

[code]

But I thought this is what it was supposed to do:

[code]

What am I missing? There is nothing documented on how to actually convert CSS to a React Native StyleSheet object.

Thanks in advance!

[2017-10-25 18:03] jacobp100 commented on #50
Look at the readme for the docs! It does convert css to react native objects.

Note that it only converts css declarations, not rules. You’ll want to look into styled-components for how that’s done.

[2017-10-25 20:27] #50 closed

[2017-11-10 04:09] brunolemos commented on #48
@achtan
[code]

[2017-11-10 04:09] #48 closed

[2017-11-12 07:03] brunolemos commented on #50
@jacobp100 @NordlingArt any hidden way to do the opposite? rn obj to css string?
Tried the code above but didn't work. Also didn't find this on the source code

[2017-11-12 07:29] brunolemos commented on #50
Ok I see styled-components implemented a simple [objToCss](https://github.com/styled-components/styled-components/blob/d5b265e298dcfae38da7ff3aaba6bdc7f013466d/src/utils/flatten.js#L7) that only hyphenate the word... maybe that's enough

[2017-11-12 09:12] jacobp100 commented on #50
This package won’t do that.

[2017-11-18 17:08] #4 closed

[2017-12-08 19:32] yordis commented on #40
I am not sure if this is the right thread because the one was closed on SC.

If you see SC as a styling engine that provides you the `theme + style parser` (no css parser) and you would have something like `react-dom` and `react-native` which specific parser will do their job (yes it does it right now to some level but once you merge web with mobile then the specially cases will start coming out,

[2017-12-22 13:05] yordis commented on #40
@philpl any update on what will be the move of styled-components and unitless situation?

[2017-12-22 16:24] jacobp100 commented on #40
Currently you can remove units unless you use CSS shorthands. There are no plans to remove units in shorthands, and this is unlikely to change.

You can look at the discussions when this changed for reasons why we switched to enforcing units.

[2017-12-22 16:26] yordis commented on #40
@jacobp100 which discussions?

[2018-01-04 16:50] Zacqary opened #54 "Unsupported CSS fails silently"
Working with `styled-components` and `react-native-web` can be frustrating, because things like:

[code]

will just refuse to compile on the web without throwing an error. It'd be really helpful for multi-platform projects to know when our web-specific syntax is getting stripped so that we can refactor correctly.

[2018-01-04 18:02] jacobp100 commented on #54
Could you open this on the main styled-components repo? If you look at the API, this only takes pre-parsed declarations, so is out of the scope of css-to-react-native to fix. Thanks! 🙂

[2018-01-04 18:02] #54 closed

[2018-01-04 19:59] Zacqary commented on #54
Sure thing, reopening there. Sorry about that

[2018-01-31 09:10] jacobp100 commented on #40
A thought, maybe we could just `console.warn` on dev when you miss required units. It might reduce bugs for end users when they refactor their CSS.

For the discussion on why we changed from unitless to units is on #20. Sorry about the late response!

[2018-02-02 18:33] kristerkari opened #57 "Release a new version?"
Hello,

It seems that it has been quite a long time since the last version was released and there are quite a few features in master.

What about releasing a new version (2.1.0) ?

ping @jacobp100

[2018-02-03 10:22] jacobp100 commented on #57
Published!

[2018-02-03 10:22] #57 closed

[2018-02-03 16:07] kristerkari opened #59 "boxShadow transform does not support rbg, rgba, hsl or hsla colors"
Currently `box-shadow` transform does not support `rgb`, `rgba`, `hsl` or `hsla` colors.

Here are a few test cases that are failing:

[code]

In addition to that, `shadowOpacity` property set to value `1` should probably be added by default to make sure that the shadow is always visible. I tested it, and I can confirm that the opacity for the shadow can be controlled by using `rgba` or `hsla` col

[2018-02-03 17:03] jacobp100 commented on #59
Thanks for the tests!

I think the immediate fix is to do `tokenStream.matches(tokenTypes.COLOR)` in [boxShadow.js](https://github.com/styled-components/css-to-react-native/blob/master/src/transforms/boxShadow.js).

Definitely the right call on always adding the shadow opacity.

Happy to accept a PR, otherwise I can get to this at the end of the weekend!

[2018-02-03 20:44] kristerkari commented on #59
Thanks @jacobp100.

I can have a look at implementing a fix, but I don't fully understand how the parsing of the values works.

Right now `tokenStream.lastValue` is used in `boxShadow.js` to get the color value. When using `rgb()` that lastValue is `null` and there is a value for `lastFunction` instead.

Is there something existing that allows me to retrieve the function as a string, or would I ne

[2018-02-03 21:21] kristerkari commented on #59
I managed to figure it out :) PR #60

[2018-02-04 10:56] jacobp100 opened #61 "Improve token stream performance"
We currently clone the nodes array whenever we match. We could actually do this just with an index into the same array instead.

[2018-02-04 11:09] jacobp100 commented on #59
Sorry, I should clean up the token stream.

I was mostly copying how it’s done in the rust CSS parser, but rust lets you do `if let value = stream.match(…)`. Not sure if the nicest way to do this in JS!

[2018-02-04 11:35] #59 closed

[2018-02-04 11:51] jacobp100 commented on #61
We also fork the tokenstream with `lookahead` not only does this clone the nodes array, we end up reparsing the values we just checked. We could try a save/restore API like in the canvas API.

[code]
[code]

[2018-02-04 12:04] jacobp100 commented on #61
We can remove `lastFunction`  We can probably add `functionName: ?string` and remove `parent`.

[2018-02-04 18:21] #61 closed

[2018-02-07 07:31] jacobp100 opened #64 "Support textDecorationLine"
RN supports the values 'none', 'underline', 'line-through', and 'underline line-through'. This means the order is important for RN but not for CSS. We should support putting these the other way round.

[2018-02-07 18:33] kristerkari commented on #64
I had a look at the code, would something like this be enough?

[code]

[2018-02-07 19:07] jacobp100 commented on #64
That would definitely work for strings.

Currently all complex transforms go through css-value-parser and then TokenStream. But there will be cases like this when it’d be more efficient to skip that and just do string manipulation.

What would the implementation to avoid the parsing the value look like?

[2018-02-07 19:33] kristerkari commented on #64
What I meant was as a quick fix to use that code here to implement reorder the values inside the parsed string:
https://github.com/styled-components/css-to-react-native/blob/master/src/transforms/textDecoration.js#L51

[2018-02-07 19:34] kristerkari commented on #64
Of course for just supporting `textDecorationLine` there could be a simpler parsing.

[2018-02-07 21:09] jacobp100 commented on #64
Oh I see what you mean! Good catch!

[2018-02-07 21:22] kristerkari commented on #64
Yeah, sorry for being unclear. I was just wondering if that is simple enough fix for the current `textDecoration` transform.

When it comes to supporting `textDecorationLine` property, would it be performant enough to do some regex validation and then just do the same reordering trick?

[2018-02-07 21:34] jacobp100 opened #67 "ES6 imports/exports"
I think when I was creating this, I wanted to run it in Node natively, so used `require`. We have imports in some places, so we should probably change everything to that. We could also investigate using rollup to bundle.

[2018-02-09 13:06] andreiciceu opened #68 "Text-shadow styles not working"
Hello,

I tried adding a text-shadow to a Text styled component, by using this code
[code]
Unfortunately, this does not work (tested on iOS with latest version of styled components).
As a workaround, I don't use styled-componenets for that particular component.

Any solution?
Many thanks

[2018-02-09 16:52] jacobp100 opened #69 "Text-shadow shorthand"
We support `box-shadow`, but not `text-shadow`. RN supports everything we need to do this.

[2018-02-09 16:53] jacobp100 opened #70 "Clean up tests"
We should look at moving the tests into multiple files now.

[2018-02-09 17:07] jacobp100 commented on #68
I opened your issue over [here](https://github.com/styled-components/styled-components/issues/1509). I'll close the issue here, because it's better suited to the other repo.

[2018-02-09 17:07] #68 closed

[2018-02-09 22:05] jacobp100 opened #72 "Border radius shorthand for multiple values is incorrect"
It currently goes in order of `['TopRight', 'BottomRight', 'BottomLeft', 'TopLeft']`.

It should be `['TopLeft', 'TopRight', 'BottomRight', 'BottomLeft']`

[2018-02-09 22:26] #64 closed

[2018-02-09 22:42] #69 closed

[2018-02-10 12:02] #72 closed

[2018-02-10 12:22] jacobp100 commented on #70
Done in #73

[2018-02-10 12:22] #70 closed

[2018-02-10 12:57] kristerkari opened #75 "Using stylelint to lint known properties"
I have been experimenting with the idea of using stylelint to verify that you can only use the CSS properties that `css-to-react-native` supports, like the standard stylelint rule https://github.com/stylelint/stylelint/tree/master/lib/rules/property-no-unknown.

I have though of creating a couple of tools to help with this.

First thing I was thinking of would be to create a new repo that would li

[2018-02-10 13:25] jacobp100 commented on #75
So a separate package that lints? I'd be down with that. If you manage to set up something, let me know and I can help out!

[2018-02-10 13:28] kristerkari commented on #75
I have the stylelint plugin almost ready. I'm mainly just wondering how to structure the project(s) and what kind of naming to use.

I'll let you know as soon as I have something out there.

[2018-02-10 14:30] mxstbr commented on #75
This would be great to add to https://github.com/styled-components/stylelint-config-styled-components!

[2018-02-10 14:38] kristerkari commented on #75
@mxstbr It's probably better to create a separate stylelint config for React Native, as the stylelint plugin that I'm creating only checks for React Native specific CSS properties.

[2018-02-10 16:19] kristerkari commented on #75
Here is the repo with known React Native styling properties, which I plan to use in the styling plugin:
https://github.com/kristerkari/react-native-known-styling-properties

[2018-02-10 16:45] mxstbr commented on #75
@kristerkari hmm yeah, I guess that makes sense—so folks would extend from both `stylelint-config-styled-components` and `stylelint-config-styled-components-native`? I like that.

If you create that and it works well I'd love to make it official, move it to the s-c org and promote it! /cc @emilgoldsmith @ismay

[2018-02-10 17:37] emilgoldsmith commented on #75
Sounds cool :)

[2018-02-10 18:02] ismay commented on #75
Yeah sounds good 👌

[2018-02-10 21:32] kristerkari commented on #75
Stylelint plugin (or plugin pack) is now out:
[stylelint-react-native](https://github.com/kristerkari/stylelint-react-native)

This is the rule that is compatible with styled-components:
[css-property-no-unknown](https://github.com/kristerkari/stylelint-react-native/tree/master/src/rules/css-property-no-unknown)

This is how it looks with regular CSS in my React Native project:
<img width="691" al

[2018-02-10 22:44] kristerkari commented on #75
Here's a screenshot using styled-components:

<img width="682" alt="screen shot 2018-02-11 at 0 42 34" src="https://user-images.githubusercontent.com/993108/36067389-b17e50e0-0ec4-11e8-851e-878b3d36abd7.png">

[2018-02-11 12:14] kristerkari commented on #75
I had a small bug in my screenshots, `display` is actually supported by RN. :) But that's now fixed.

[2018-02-11 12:36] jacobp100 commented on #75
What we could do as well is check units. For example, we allow percentages for border widths in case RN adds support for these, but they aren’t yet supported.

[2018-02-11 12:37] #67 closed

[2018-02-11 17:03] kristerkari commented on #75
@jacobp100 I was thinking that there could be a rule that checks for values, but I haven't had time to look at that yet. If you have ideas, you can open a new issue here: https://github.com/kristerkari/stylelint-react-native

[2018-02-15 16:09] jpgorman opened #76 "Warning: "fontVariant" is not a valid style property."
I've been using the latest version of react-native-web, which uses css-to-react-native. I've noticed that when I use the short-hand `font: bold 14px/16px 'Helvetica';` that I get the following warning

[code]

I'm using react-native: ^0.53.0

[2018-02-15 16:25] kristerkari commented on #76
Any further info on how to reproduce the warning?

At least I can not see it when I use react-native 0.53.0,  the latest version of `css-to-react-native` and `font: bold 14px/16px 'Helvetica';` on a `<Text />`

[2018-02-15 16:41] kristerkari commented on #76
Oh yeah, now that I read the description again I see that you mentioned `react-native-web`. Where is the warning coming from? Web browser?

[2018-02-15 16:43] jacobp100 commented on #76
[Filed an issue in react-native-web](https://github.com/necolas/react-native-web/issues/824)

[2018-02-15 16:44] #76 closed

[2018-02-17 11:45] kristerkari opened #77 "Support "margin: 0 auto;""
Using `margin: 0 auto;` throws an error.

Here's a unit test to copy/paste:

[code]

[2018-02-17 21:44] jacobp100 commented on #77
Good catch! We’ll need to support top/bottom as well, so it should be pretty easy to update in `transforms/index.js`

[2018-02-18 10:04] #77 closed

[2018-02-19 09:41] corysimmons opened #80 "Usage?"
Like, is there a way to write something like:

[code]

[code]

And have css-to-react-native transform it somehow?

Sorry, I see how it works for people who might want to write a plugin for it, but not for casual users just trying to avoid writing standard RN style objects.

[2018-02-19 09:46] jacobp100 commented on #80
We are more aimed at plugins. Generally you'd use this with postcss or another CSS parser. Have a look what they do in [styled-components](https://github.com/styled-components/styled-components/blob/b9e8a1f4631b4eb20940b5123ca7736ac3e7322e/src/models/InlineStyle.js#L27-L63).

[2018-02-19 10:15] corysimmons commented on #80
If it's somewhat trivial to expose to something similar to my use case can this issue be converted to a feature request? If not, go ahead and close.

[2018-02-19 10:36] jacobp100 commented on #80
CSS parsers are usually pretty hefty, so adding one would have a huge impact on this library's size. Besides that, all the projects using this do different things with CSS anyway, so there's not really a universal solution to this.

Hope this helps!

[2018-02-19 10:36] #80 closed

[2018-02-19 10:37] mxstbr commented on #80
If you want to avoid writing standard RN style objects then please use `styled-components`, which lets you write CSS as you're used to on the web.

If you're not happy with the API that s-c exposes then feel free to write your own wrapper around `css-to-react-native`, but offering more APIs is definitely out of scope of this package :blush:

[2018-02-19 10:47] corysimmons commented on #80
styled-components doesn't support media queries in RN.

SC has a really nice approach, but the 2 things I want from it: media queries in RN (required) and PostCSS (a nicety), are shot down as "doesn't interest us [closed/locked]".

So... yeah, if I get time I'll take a shot at implementing my own. Until then I'm stuck with react-native-extended-stylesheet and ugly POJO css.

I was hoping with this

[2018-02-19 11:00] jacobp100 commented on #80
If you want to live on the edge, check out [cssta](https://jacobp100.github.io/cssta/native/). We have media queries in the master branch (so add the git repo over the npm package as your dependency)

[2018-02-19 11:15] corysimmons commented on #80
@jacobp100 Looks awesome! I'm behind deadline on this project but should have it done in a week or two, then I should have a bit of time to contrib. :D

[2018-04-27 21:52] zomars opened #82 "Failed to parse declaration "transform: translateY(100%)"
It seems like percentage values are failing on transforms.

[2018-04-27 22:31] jacobp100 commented on #82
React Native doesn’t support percentages for transforms. Hope this helps!

[2018-04-27 22:31] #82 closed

[2018-04-27 22:38] zomars commented on #82
Is this documented somewhere? I couldn't find any info about this.

[2018-04-28 12:05] jacobp100 commented on #82
It’ll be in the react native docs. For translations, they only accept numbers (aka pixel distances).

[2018-06-19 18:34] marlonmleite opened #86 "Supported properties map"
I miss the map with all the existing properties in React Native and the equivalent in Styled Components.

This would be very useful for both beginners and consultants alike.

A simple table with all properties:

React Native | Styled Components
--- | ---
*backgroundColor* | `background-color`

[2018-06-22 10:55] jacobp100 commented on #75
Is this issue resolved?

[2018-06-22 10:57] jacobp100 commented on #86
:+1: Does anybody want to look at this? The shorthand properties we support are [here](https://github.com/styled-components/css-to-react-native/blob/e8ec489606ae7199e749230d2c0a8d43b7fd7096/src/transforms/index.js#L70-L91)

[2018-06-22 11:52] kristerkari commented on #75
Yes, it is :)

[2018-06-22 11:52] #75 closed

[2018-06-25 09:05] jacobp100 opened #88 "place-items and place-content"
We should support [place-items](https://developer.mozilla.org/en-US/docs/Web/CSS/place-items) and [place-content](https://developer.mozilla.org/en-US/docs/Web/CSS/place-content)

[2018-06-26 18:28] kristerkari opened #89 "Handling of line-height with a multiplier value"
Currently with a multiplier value for `line-height`:

[code]
The result is this:

[code]

React Native treats it as a pixel value instead of a multiplier. We can only calculate the multiplier if we know the font-size of the `Text` element.

Maybe we should only allow pixels (or other units) to be used with `line-height` and throw an error for a multiplier?

ping @jacobp100

[2018-06-26 18:59] jacobp100 commented on #89
It’s just going through the generic remove-px route. Maybe we could just warn/throw an exception on dev for this case

[2018-07-03 15:50] flxwu commented on #20
Did you fix it @IljaDaderko ?

[2018-08-08 18:28] toytonic commented on #20
Same here. I'm suddenly getting this error in production environment. How do I get around it? Specify all units with `px`?

[2018-08-08 20:04] jacobp100 commented on #20
Yep!

[2018-11-28 12:07] kopax opened #98 "Upgrade node-fetch to >= 2.3.0 to fix semantic-release users that use styled-components"
## Environment

We are experiencing issue on travis while using semantic-release.

This happen because of a package having being fixed `node-fetch@2.3.0` for semantic-release to work and styled-components having an outdated node-fetch through [isomorphic-fetch](https://github.com/matthew-andrews/isomorphic-fetch/issues/new).

Users that use both semantic-release and styled-components will have iss

[2018-11-28 12:48] jacobp100 commented on #98
Looks like we need to update `fbjs` to `1.0.0`. I won't have a tonne of time over the next few weeks, but I'll be happy to accept a PR - it should be pretty quick to fix!

[2018-11-28 13:06] kopax commented on #98
I don't think this will solve the problem, except if they do not rely on isomorphic-fetch (which doesn't exist with node-fetch v2) or any dependencies that rely on fetch v1.

[2018-11-28 13:40] jacobp100 commented on #98
Okay. We only use fbjs for the camel-case conversion, and it looks like that just uses `camelize` (with some browser workarounds that we don't need). I'd be happy to replace the dependency if that fixes it?

[2018-11-28 13:43] mxstbr commented on #98
@jacobp100 that sounds like a great plan, let's do that!

[2018-11-28 13:52] kopax commented on #98
@jacobp100 I didn't go that far but if you are positive that the lib is just there for that, yeah that sound great let's do that.

[2018-11-30 01:00] kopax commented on #98
I've just pushed the proposed fix by jacobp100. I also add to remove the `package-lock.json` file as you do not need that.

[2018-12-04 14:47] #98 closed

[2019-02-07 14:01] hubgit opened #100 "Release a new version?"
While trying to track down a dependency on `fbjs` I found that a) the last couple of versions of `css-to-react-native` published to npm aren't listed in [the release history](https://github.com/styled-components/css-to-react-native/releases) (I guess a tag wasn't created/pushed) and b) the dependency on fbjs was removed [a while ago](https://github.com/styled-components/css-to-react-native/commit/

[2019-02-07 16:31] #100 closed

[2019-02-07 16:33] jacobp100 commented on #100
Published under 2.3.0

[2019-04-12 11:05] jacobp100 commented on #11
Looks like we could turn this off soon

https://github.com/facebook/react-native/commit/66a294032a41f489ef5407975b2a5276df825ceb

There's a few other cases that'll get fixed too

[2019-05-06 09:57] romainbraun opened #103 ""Border: none" shorthand creates Parse Error"
**Error**
`Error: Failed to parse declaration "border: none"`
![image](https://user-images.githubusercontent.com/2997812/57218468-452cb180-6fed-11e9-9ccd-949cc5ff94d0.png)

**Test repo**
https://github.com/romainbraun/rn59-border-none-regression

**Steps**
- Create new react native project
- Add styled-components
- Use a styled view with the `border: none` property
- Run the app

**Expected behavi

[2019-05-09 08:51] #103 closed

[2019-05-09 17:34] scerelli opened #106 "can't parse flex: 1/2"
## Environment
[code]

## Reproduction
This happens on React native, to reproduce it just do:
[code]

## Steps to reproduce

## Expected Behavior
it must set the view to a half of the full available space.

## Actual Behavior
it throws an error informing that it cannot parse ` flex: 1/2`

[2019-05-31 20:18] jacobp100 commented on #106
Sorry if the documentation didn’t make clear what should and shouldn’t be allowed. We want to make it as close to CSS as we can, and this is not valid CSS. If there’s something in the docs that would have made that clearer, we would definitely like a PR!

[2019-05-31 20:18] #106 closed

[2019-06-05 19:59] Vadorequest opened #107 "Handling css as "string" to react as "object" conversion"
I was looking for a lib to convert a string to react object.

I used this lib to do so, I believe the following function could be a good addition to the current library. Feel free to add it!

[code]

[2019-06-05 20:51] jacobp100 commented on #107
Yeah, you just need to Object.assign the result of this library to style. Should work then

[2019-06-06 22:30] Vadorequest commented on #107
Honestly, an example of that in the readme would just save people's time. I didn't quite understand how to use your main function from the examples.

[2019-06-07 07:59] jacobp100 commented on #107
Sorry, ignore my previous answer

The real answer is you want a CSS parser, because your code doesn't handle things like semi-colons appearing in comments or strings

But if you're happy with that edge case, you were almost there with your code. This library accepts an array of `[key, value]` arrays - like `[['color', 'red'], ['font-size', '16px']]`. So in your map function, just return these tupl

[2019-06-07 08:08] jacobp100 commented on #107
Closing, but feel free to continue the discussion if you want

[2019-06-07 08:08] #107 closed

[2019-09-15 20:34] m11m opened #114 "Parsing errors from tailwind default config"
I had a parsing error on the following css:

[code]

I'm pretty sure this is legal css, the unit (% in this case) is optional?

Error printed out as:

`Error: Failed to parse declaration "flex: 1 1 0%"`

Here is the line in tailwind default config, I can work around this, but maybe it makes sense to support optional units on 0  ¯\_(ツ)_/¯ :

https://github.com/tailwindcss/tailwindcss/blob/beff13835

[2019-09-15 22:06] m11m opened #115 "Problems parsing boxShadow"
Error when parsing some from the following:

https://github.com/tailwindcss/tailwindcss/blob/master/stubs/defaultConfig.stub.js#L185

Example:

`default: '0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)'`

Results in error:

`error: bundling failed: Error: Failed to parse declaration "boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)"`

[2019-09-16 02:39] m11m opened #116 "Problems parsing fontFamily"
Error when parsing some from the following:

https://github.com/tailwindcss/tailwindcss/blob/master/stubs/defaultConfig.stub.js#L222

Example:

[code]

Results in error:

`error: bundling failed: Error: Failed to parse declaration "fontFamily: Georgia, Cambria, "Times New Roman", Times, serif"`

[2019-09-16 06:37] jacobp100 commented on #116
React native only supports one font family, so we don’t handle parsing more than that

[2019-09-16 06:37] #116 closed

[2019-09-16 06:38] jacobp100 commented on #115
React native only supports one box shadow, so we don’t handle parsing more than that

[2019-09-16 06:38] #115 closed

[2019-09-16 07:28] jacobp100 commented on #114
This one is actually a bug! I'll try and get it fixed within the next few days

[2019-09-23 08:35] ScreamZ opened #117 "Background issue with React native 0.61-rc3"
Hello

After investigating with @Trobyss we found an issue with styled-components after migrating on 0.61-rc3 to test on ANDROID.

[code]

You can freely switch between `Bug` and `BuggingView` to see the difference.
The text is correctly displaying above the background in absolute, but not the background of the text container.

Without styled-components, this works.

[code]

Any idea what would ca

[2019-09-23 08:40] jacobp100 commented on #117
When you write `flex: 1` in css-to-react-native, it expands to `flex-grow: 1; flex-shrink: 1; flex-basis: 0` to match CSS.

The `flex` property in react-native is kinda legacy, in that it differs from the web standards. But their flex-grow, shrink and basis properties do match the web standards

[2019-09-23 09:59] Trobyss commented on #117
Hi ! I attach a screen

![65132239-ec404180-da00-11e9-9503-6d685ad68fa7](https://user-images.githubusercontent.com/43353685/65416962-46724580-ddf9-11e9-9c9d-e3ece4f51bdc.png)

[2019-09-23 10:32] jacobp100 commented on #117
I'll need to see both screenshots 😄

Did changing flex not work? Try playing around with that a bit. I'm not totally sure what you're trying to do, so I can't really give pointers here

[2019-09-23 13:27] probablyup commented on #40
This is still being flagged in issues against s-c, would love to see some movement either way on this. A few potential solutions:

1. As @jacobp100 suggested, warn.
2. Allow all properties to be unitless and add a unit behind the scenes if needed.
3. warn & throw out CSS rules without units where there should be a unit (this actually probably wouldn't be too arduous since there are few CSS propert

[2019-09-23 13:58] Trobyss commented on #117
So :

**This doesn't work : (text is above but red is behind blue)**
![Capture d’écran 2019-09-23 à 15 49 34](https://user-images.githubusercontent.com/43353685/65431677-28690d00-de1a-11e9-9d88-776455b404cd.png)

[code]

But the exact same code without styled :

![Capture d’écran 2019-09-23 à 15 55 27](https://user-images.githubusercontent.com/43353685/65431987-af1dea00-de1a-11e9-837a-d6ad399c

[2019-09-23 14:00] jacobp100 commented on #40
I do mean to get round to adding warnings, it's just finding time. I had a very-POC PR for how I think it could work

[2019-09-23 14:04] jacobp100 commented on #117
Thanks for those screenshots. So am I right in thinking the layout is correct, but the order is wrong. Does adding some z-indices fix it?

[2019-09-23 14:34] Trobyss commented on #117
Nothing at all for the background :(

[2019-09-25 10:00] kristerkari commented on #117
@jacobp100

I tried to update the app I'm working on to 0.61.0, and I'm seeing the same thing: the styles are messed up on Android, but not iOS.

I'm using CSS modules instead of styled components.

[2019-09-25 10:18] kristerkari commented on #117
I found this from https://github.com/facebook/react-native/issues/26544

Looks like a serious React Native bug

[2019-09-25 10:21] jacobp100 commented on #117
Thanks for finding that — @Trobyss could you see if removing the border radius fixes the issue?

[2019-09-25 10:48] kristerkari commented on #117
I created a new 0.61 and I'm trying to the examples from @Trobyss, but I'm not seeing the bug on Android using those examples.

[2019-09-25 10:52] marcorm commented on #117
@kristerkari i don't know if it helps, but i'm facing strange behaviour only on **Android API Level 26**
I think also this [bug](https://github.com/callstack/react-native-paper/issues/1341) is related:

[2019-09-25 11:03] kristerkari commented on #117
I tried on two emulators with API 26, but still could not reproduce the bug with the examples from this thread. Maybe someone else could try to do the same thing and see if the bug can be reproduced?

I know that there is something broken with 0.61 because I saw styles being broken on Android in the other project that I updated from 0.60.

[2019-09-25 15:46] ScreamZ commented on #117
Removing border-radius seems to fix the issue for this example 👍
[code]

[2019-09-27 18:45] zyasir opened #118 "Inverse "react-native-to-css""
Is there a package that does the opposite?

[2019-09-27 21:25] jacobp100 commented on #118
Not that I know of. Feel free to give it a shot if you want though!

[2019-09-27 21:25] #118 closed

[2019-09-27 21:27] zyasir commented on #118
Darn. Thanks for the fast reply!

[2019-09-30 13:23] ScreamZ commented on #117
https://github.com/react-native-community/releases/issues/146#issuecomment-536548800

[2019-09-30 13:37] jacobp100 commented on #117
I'm going to close this issue, but you're free to continue the discussion here if you wish

[2019-09-30 13:37] #117 closed

[2019-09-30 19:23] HosseinAlipour opened #119 "box-shadow is not transformed for Android"
Styled-component documentation state that this repo is responsible for making the transformation. I wanted `box-shadow` and according to react-native documentation, `elevation` is the correct way to get box-shadow on android, but, it's not generated in the first place, so I create the issue here.

[code]

[code]

[2019-09-30 19:25] HosseinAlipour commented on #119
also, I don't see any version requirement for the repo, I wonder if I'm using newer/older version of react-native?

[2019-09-30 19:35] jacobp100 commented on #119
There's not a way to transform a box shadow into an elevation (or vice-versa).

You could define both a box shadow and a similar elevation to support iOS and Android

[2019-09-30 19:35] #119 closed

[2019-09-30 19:48] jacobp100 commented on #119
For posterity,

iOS only supports a single box shadow. The elevation property on Android renders multiple, layered box shadows, so it's not possible to represent an elevation on iOS

And Android only supports pre-specified box shadows via elevation, and it's not possible to arbitrary box shadow parameters like in iOS

Anything we added here would be wrong on one platform, so I just stayed clear of

[2019-09-30 21:36] jacobp100 commented on #88
Note, we can’t support place items, as justify-items is missing from RN

[2019-10-01 08:00] #89 closed

[2019-10-01 08:00] #114 closed

[2019-10-01 08:00] #88 closed

[2019-10-21 14:13] HosseinAlipour commented on #119
thank you for your precise response. I was thinking there should be at least a warning for developers because it has not even been mentioned in the docs.

[2019-10-21 14:48] jacobp100 commented on #119
Yeah, documentation for this package would definitely be useful

[2019-11-06 20:14] dgobaud commented on #40
Curious why does it not make sense to remove units from shorthands? I don't understand the reasoning. Whitelist is mentioned so shorthands can be made up so the problem is by default units are expected and you would have to whitelist shorthands that don't require the units and that is the problem?

Couldn't there be a list of standard shorthands like margin that don't need the unit?

[2019-11-06 20:29] jacobp100 commented on #40
@dgobaud You can read some of the reasoning over at #20. There's also linked issues in there, and probably linked issues in the linked issues. I don't really want to reopen the discussions on this, it seems pretty settled - units are here to stay! But I'm happy to answer any questions on bugs etc. 🙂

[2019-11-06 20:35] dgobaud commented on #40
@jacobp100 interesting so it seems the CSS spec says pixels are not physical device pixels - meaning unitless like the RN units? I guess this means the correct thing to do is actually use px everywhere?

[2019-11-07 07:40] jacobp100 commented on #40
Not too sure what you mean, but yeah, pixels on the web behave the same way as RN

[2019-11-15 20:59] MrLoh opened #122 "aggressive color checking"
Hi, first of all. Thank you for this library.

I've build a little [styled-components replacement](https://github.com/MrLoh/styled-native-components) for react-native for our company, that adds some features like direct access to theme variables by name.

The heavy lifting is provided by this library. Now in 3a3a596b4d60abcb76242a45f12cd8d846ff16db you made the check for color variables on borderC

[2019-11-15 22:25] jacobp100 commented on #122
I generally want to avoid adding workarounds in this parser. Usually, these sort of things can be done by doing some pre-parsing before you run css-to-react-native

Since you know your theme parameter names, you can just do a regexp find and replace on the CSS before it is passed in (or better yet, do it on only the values of the tuples you pass in)

Let me know if that helps!

[2019-11-16 00:56] MrLoh commented on #122
@jacobp100 the problem with doing preprocessing is performance. It's much faster to run over the already parsed data structures compared to processing the strings twice, so I'm really trying to avoid this.

[2019-11-16 12:19] jacobp100 commented on #122
I think you won’t see any performance drop doing pre-processing vs post-processing

Looking at your project, the biggest cost is probably this library

If you’re concerned about performance, you could try [cssta](https://github.com/jacobp100/cssta). It does ahead of compile compilation for everything so almost nothing happens at runtime

[2019-11-16 14:16] MrLoh commented on #122
Cssta looks very impressive. But it doesn’t seem to be a superset of styled components (no function interpolation for props access, which is probably what allows ahead of time compilation). And we cannot rewrite our whole codebase.

Especially for color values the complexity is quite high. Now I can check if a key describes a color prop an wether it’s value Is in the theme. Then I’d have to check

[2019-11-16 14:29] MrLoh commented on #122
I guess I could prefix color variables with an identifier like `$` which would make them relatively easy to parse.

[2019-11-16 14:58] #122 closed

[2019-11-16 15:13] MrLoh commented on #122
@jacobp100 I tried to implement it and actually there is no way for me to get around this. The whole performance of my library is based on the fact that the hard work is performed by this library, but that I can cache the result of the css parsing based on the cssString. I can do that on load of my code (and I could precompile it in the future) for components that don't need props input and I can

[2019-11-16 15:17] MrLoh commented on #122
If I can overwrite the color regexp, than I could ensure correct parsing, by only additionally allowing color values that contain a prefix like `$`.

[2019-11-16 16:13] jacobp100 commented on #122
Am I right in thinking you parse the entire string once and then all subsequent updates are done on the output?

I don’t really want to allow editing tokens etc., because that will make refactoring harder or introduce breaking changes later down the line. If you’re set on this parser taking custom tokens, I think you will have to run a fork

Alternatively you could generate a random hex code for e

[2019-11-16 16:24] MrLoh commented on #122
I guess I’ll have to run a fork then. Since I also allow hex values for certain components that need our clients branding, hacking the hex values seems like a bad idea. Or do you support 8 digit react native style rgba hex values? Than this could maybe work by hijacking transparent hex values.

[2019-11-16 16:26] MrLoh commented on #122
You’re not gonna start preventing `rem` and `vh`/`vw` unit values in the future though right. Because that would completely kill it for me.

[2019-11-16 16:50] jacobp100 commented on #122
I think realistically those extra units are here to stay. Quite a few projects use them. They don’t seem to be causing problems when parsing, and have been around for a while. If we found cases where they caused issues in parsing, we might pull the plug on them, but that would at least be marked as a breaking change

The aim is actually just the subset of CSS react-native supports. We actually ext

[2019-11-16 18:06] AZQD opened #124 "Data type judgment and optimization"
If shorthandblacklist, the second parameter of the tranform function, misuses a string, such as' fontmargin ', abbreviations are also allowed.

Maybe it's more rigorous to add typescript or verify data type here.
https://github.com/styled-components/css-to-react-native/blob/master/src/index.js#L85

[2019-11-16 18:25] jacobp100 commented on #124
Yeah, that's a good should. Maybe we should remove the default argument, then `Array.isArray(shorthandBlacklist) && shorthandBlacklist.includes(…)` - we should get a perf win from that too

[2019-11-18 18:23] GollyJer opened #130 "React Native "Expected style to contain units"?"
## Environment
styled-components-v5.0.0-rc.1

## System:
 - OS: Windows 10
 - CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
 - Memory: 13.38 GB / 31.74 GB
## Binaries:
 - Yarn: 1.19.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
 - npm: 6.12.1 - C:\Program Files\nodejs\npm.CMD

(node:5856) UnhandledPromiseRejectionWarning: Error: The system cannot find the path specified.

## Reproduction
I

[2019-11-18 21:05] GollyJer commented on #40
Hi. I ran into this the other day and [wasted some brain cycles](https://github.com/styled-components/styled-components/issues/2882) trying to figure out what was going on. 😃

Are there any other units that can be used besides `px`? If not, maybe the warning should be more explicit?
`"px" is now required for all css measurements.`
and maybe point to the fact that `px` is density independent? https

[2019-12-02 22:49] shamilovtim opened #129 "Requiring users to append 'px' to react native units should be a linter preference and should not be done by this plugin"
In v5.0.0-rc.0 this plugin has decided unilaterally and without much conversation that react native developers should be forced to append 'px' on their units. That is the job for a linter and it is a personal preference -- it is not the domain of this plugin. I appreciate the work everyone does here but I should not have other people's style decisions enforced over my code.

Please see https://fac

[2019-12-03 16:36] Gustavoohrq opened #128 "box-shadow does not work in react-native"
I am using React.Native, I put the box-shadow but it does not work at all. I tested other codes but none worked.

`            import styled from 'styled-components/native'

            export const Box = styled.View`
                border-radius: 10;
                height: 150;
                width: 300;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

            `;

            e

[2019-12-10 17:58] MrLoh commented on #122
Well this just blew up in my face, as there is no easy way to guarantee that the variables are set for pre processing before the styles are resolved as that depends on execution order of code, which I cannot control in a framework like next js. Are you aware of any alternatives to this library? Otherwise I will go with forking.

[2019-12-10 18:49] jacobp100 commented on #122
I'm afraid this is the only one. You might be able to get away with some webpack trickery with `webpack-plugin-replace` and [this line](https://github.com/styled-components/css-to-react-native/blob/26f4b495b971cc9945f2682dc619ddf9ea106939/src/tokenTypes.js#L74)

Hope that helps!

[2019-12-10 18:51] MrLoh commented on #122
Thanks. How do you get around the problem that variable resolution depends on execution order of the code, in CSSTA. Or does CSSTA do the preprocessing on render?

[2019-12-10 18:57] jacobp100 commented on #122
Cssta does 99% of processing at compile time - and in a lot of cases, this library won't even be imported in the final code.

But there are edge cases. In most edge cases, we resolve this once at code execution time. In some of the worse edge cases, it is wrapped in a `React.useMemo` - but these almost never show up

[2019-12-18 15:35] likern commented on #40
I have the problem with that. I created custom Text components, which overrides Text, considering **lineHeight** as relative value, not absolute. So `line-height: 1.5` instead of `line-height: 18px`. In that case I don't have units. And I get this warning.

[2019-12-18 15:55] jacobp100 commented on #40
@likern My understanding was that line height is _always_ a length value in React Native, never a multiplier. Correct me if I'm wrong. But if that is the case, I'm glad these warnings helped highlight that! :smile:

[2019-12-18 16:23] likern commented on #40
Yes, it was. That's why I've decided to create wrapper which uses it as multiplier. As far as I know it is a recomended approach in CSS. And anyway designers use multipliers in tools like Figma.

I couldn't imagine omitting `px` postfix could lead to some errors in debug mode. Now it's a blocker for me.

[2019-12-18 17:36] jacobp100 commented on #40
The aim of this library is to transform bit of CSS that works on both web and React Native. Because this isn't natively supported in RN, I wouldn't feel comfortable loosening the rules here

But if you give me details on your wrapper, I'd be happy to look at how you could get it to work. We have a few libraries that do this kind of pre-processing before handing off here, so it seems very do-able

[2019-12-18 19:24] likern commented on #40
My component is very simple. It just wraps RN Text component. It is expected to be working after css-to-react-native strips units off.

So I get usual **lineHeight** as number, but just treat it as multiplier (instead of absolute value in pixels) - and pass to RN Text `lineHeight = fontSize * lineHeight`.
I shared my component here: https://gist.github.com/likern/6e2da0bbe21fd0a7f7b4255d4537eb6e

[2019-12-18 21:49] jacobp100 commented on #40
Okay, makes sense. You’re actually the first person I’ve seen to do this via a wrapper component - most people just wrap the `styled` function in some way

Since your component requires the font size to be present anyway, you could do this via a mixin in styled components

We have previously been too loose in what we accept, and this has caused issues for parsing. We are fixing these issues and ma

[2019-12-19 10:22] likern commented on #40
@jacobp100 I don't have access to `styled` because I'm using `css` prop transformation, so my code looks like this:
[code]

The next where I can grab this information is inside custom component.

[2019-12-19 10:47] likern commented on #40
What about adding **styled.config.js** file which will allow to add custom code transformations at build-time, while keeping core css-to-react-native untouched?

**styled.config.js:**
[code]
Developers can write their own transformations using **babel-plugin-preval**.

**In my example:**

[code]
will be transformed by my own transformation (it is a user responsibility) (which will be called by css

[2019-12-19 11:02] jacobp100 commented on #40
I meant like this,

[code]

Your babel plugin idea will probably work too!

Btw, we used to actually transform unitless line heights for the case,

[code]

And that used to give a line height of 24px. But we removed it because it does not work for the case,

[code]

[2019-12-24 08:17] jacobp100 commented on #129
Please see #40 and surrounding discussions

[2019-12-24 08:17] #129 closed

[2019-12-24 08:20] jacobp100 commented on #128
You’re doing the right thing in your example. It’ll only work on iOS though, as android doesn’t have support for custom shadows

[2019-12-30 13:58] jacobp100 commented on #130
This is the right repo for this issue, but we have issue #40 already, which contains more information. I’ll close this as a duplicate

[2019-12-30 13:58] #130 closed

[2020-01-02 18:19] jamesgeorge007 opened #131 "[Feature Request]: Introduce a CLI solution"
For instance, `css-to-react styles.css` that generates an equivalent React Native compatible version to be consumed as an `external stylesheet`. IMO it would be handy.

[2020-01-02 18:40] jacobp100 commented on #131
Probably not for this project, because I want this to be neutral about how you use it. But you’re welcome to make a project that does this and use this library!

[2020-01-02 18:40] #131 closed

[2020-01-03 09:16] #128 closed

[2020-01-09 21:39] magik-chorne commented on #11
Poking on this one @jacobp100

[2020-01-10 07:28] jacobp100 commented on #11
Has anyone confirmed this works now? And from what version it works

[2020-01-16 20:45] felippepuhle commented on #40
So, I have an app with hundreds/thousand of components and now it's required to use units even though react native itself doesn't require that? What the heck?

[2020-01-16 21:36] likern commented on #40
You can use old style property passing object

[2020-01-16 21:45] jacobp100 commented on #40
@felippepuhle there’s a code mod available!

[2020-01-17 12:22] fontesrp commented on #40
I'm in the same situation as @felippepuhle. Is there any way to silence the warnings? Not sure what code mod means...

[2020-01-17 12:24] likern commented on #40
https://github.com/facebook/codemod

[2020-01-17 12:31] fontesrp commented on #40
You mean I have to refactor the entire project to add `px` to every style prop?

That's insane...

I guess I just found some work to do for the following weeks

[2020-01-17 12:44] jacobp100 commented on #40
@fontesrp if you look in the team repos, there is a project that will add the px to all the lines for you

[2020-01-17 13:15] felippepuhle commented on #40
I know about the codemod, I just commented yesterday 'cause I don't think it's a wise decision change the default behavior.

Sorry if I was rude.

Thanks!

[2020-01-17 19:32] jacobp100 commented on #40
Don’t worry, you didn’t come off as rude! It’s something we’ve wanted to do for a while to make the parsing more reliable. There’s a few posts around here if you wanted to read about the issues with how it was before

[2020-01-20 19:59] AllyssonAlas commented on #40
There's a waning in elevation property for android, it claims that elevation should be unitless but even if you dont put anything, it is still transformed to px.

react-native: 0.61.2
styled-components:  ^5.0.0

my code:

[code]

The warning:
![83184012_1569687023155643_4845915899615510528_n](https://user-images.githubusercontent.com/47720717/72754336-46ffca80-3ba6-11ea-91e9-cb416a62bd68.png)

[2020-01-20 20:43] jacobp100 commented on #40
@AllyssonAlas I think the warning message you got is for some other code. The value printed in the warning message is verbatim - it didn't add the `px` itself. Somewhere, there will be an `elevation: 7px`

[2020-01-20 20:48] jacobp100 commented on #124
Gonna close this, but feel free to submit a PR if you want

[2020-01-20 20:48] #124 closed

[2020-01-20 20:53] jacobp100 commented on #11
Also, the change to re-enable these has to happen in styled-components. We take a blacklist of properties, and the border-radius is passed in there in SC

Once SC removes this, we'll remove the code around blacklisting here too, since it will no longer be needed

[2020-01-20 21:11] AllyssonAlas commented on #40
@jacobp100 You're right, I've found another component with ``` elevation: 7px ```, removed and the app stopped showing the warning, React Native lint keep showing an error in elevation properties, do you know how to solve this error?
![captura](https://user-images.githubusercontent.com/47720717/72757983-36ece880-3bb0-11ea-84a2-80104e56a992.PNG)

[2020-01-20 21:19] jacobp100 commented on #11
https://github.com/styled-components/styled-components/pull/2976

[2020-01-20 21:25] jacobp100 commented on #40
Sorry, I don't know what's causing that issue. If it's a package, feel free to link it here and I can take a look

[2020-01-20 21:47] AllyssonAlas commented on #40
@jacobp100 Thank you anyway, I'll search the resolution and if I find something, I shall publish here.

[2020-01-21 15:58] omarkhaled11 commented on #20
is there a codemod for this? the only codmod I could find [here](https://github.com/styled-components/styled-components-codemods) is for v4 and it doesn't including adding the units.

[2020-01-21 16:10] jacobp100 commented on #20
Yep - https://github.com/styled-components/styled-components-native-code-mod

[2020-01-27 14:05] omarkhaled11 commented on #20
@jacobp100 thanks a lot! Is there a way to enforce using units by linting tools? using eslint for example?

[2020-01-27 14:11] jacobp100 commented on #20
@kristerkari I know you had some linting tools. Do any of them lint units?

[2020-01-27 14:15] kristerkari commented on #20
@jacobp100 Unfortunately not. I have been discussing the need of such linting rule, but the main problem is that it would be quite complex to get it working correctly for all the different types of properties in CSS.

https://github.com/stylelint/stylelint/issues/3208

[2020-02-08 17:52] Zn4rK opened #133 "Invariant Violation: "//" is not a valid style property."
[code]

Yields:
[code]

StackTrace:
[code]

Relevant dependencies:
[code]

[2020-02-08 18:08] Zn4rK commented on #133
Closing this and opening in styled-components/styled-components instead. Feel free to reopen if it should be handled here.

[2020-02-17 11:45] Zn4rK commented on #133
Would it make sense to handle parsing of comments in this repository? I opened a PR with a failing test in styled-components - but @kitten thought it should be handled here.

[2020-02-17 12:11] jacobp100 commented on #133
Have a look at the API for this project - we only parse individual CSS properties and values as strings

To support this, it would need to be done at the CSS parser level. Also note that `//` comments aren't valid CSS, so you'd need a CSS parser that adds support for them

[2020-02-17 12:11] #133 closed

[2020-02-17 12:12] Zn4rK commented on #133
Cool! I agree - just wanted to make sure :)

[2020-02-20 14:01] jamesgeorge007 opened #134 "Feature the web solution"
In regard to https://github.com/styled-components/css-to-react-native/issues/131#issuecomment-570300964 I was of the thought to build a CLI solution which would be handy for sure. Later, I realized that a web solution would make much sense that resulted in https://csstox.surge.sh

Please see the repository [here](https://github.com/jamesgeorge007/csstox)

It would be great if the respective web so

[2020-02-20 14:02] jamesgeorge007 commented on #134
\cc @jacobp100

[2020-02-20 14:31] jacobp100 commented on #134
Neat!

[2020-02-20 14:52] jamesgeorge007 commented on #134
Shall I shoot a PR in the above regard?

On Thu, 20 Feb, 2020, 8:01 PM Jacob Parker, <notifications@github.com>
wrote:

[2020-03-07 17:47] likern opened #136 "property className is not supported"
I've encountered a bug in my jest jests. I have a very simple test
[code]
where `Tag` is defined as this
[code]
`iconName` is directly forwarded into `SvgIcon` component, which has [some assertions](https://github.com/breeffy/react-native-svg-icons/blob/master/src/components/SvgIcon.ts) checking only valid properties are allowed
[code]
In tests I see this message
[code]
which means somehow propert

[2020-03-07 18:05] likern commented on #136
`className` property's value is `"Tag___StyledSvgIcon-sc-102s8o3-1 iqYFlc"` which might be somehow relevant to `"jest-styled-components"` package.

But I'm not sure how all of these are working together.

[2020-03-07 23:12] jacobp100 commented on #136
You’ve filed this in the wrong project, but I don’t know enough about what you’re doing to point you to the right project. Sorry I can’t be of more help!

[2020-03-07 23:12] #136 closed

[2020-03-10 17:38] Rodrigo816 commented on #40
This lacks consistency
look at the exemple above

[code]

on theme
`  size_large: 18`

**gives this error: expected styles to contain units**

if I make this
`  size_large: '18px'`

**react native crashes string cannot be cast to java.lang.double**

Any ideas?

[2020-03-10 18:08] jacobp100 commented on #40
I think your error is coming from some other code not shown in the example. You probably somewhere have,

[code]

Generally, should store `size_large` as a number, then change the above to

[code]

(Notice the px)

Hope this helps!

[2020-03-13 09:08] olehs commented on #40
@jacobp100 , can the same be done with object-like styles? I.e

[2020-03-15 15:07] pie6k opened #137 "Is there a way to disable warnings about units?"
I know they should be there, I know the reason behind it, but I've got pretty large app and I don't want/can't codemod it right now. As I've got 100s of such components, it's making debugging pretty hard.

It would be great to have some flag to disable this warning.

![image](https://user-images.githubusercontent.com/7311462/76704107-08364e80-66d7-11ea-9cd4-8be147e2fcf2.png)

Another solution coul

[2020-03-15 15:22] pie6k commented on #137
In case someone will need it, I've created simple file that will ignore some warning both in Yellowbox and terminal

[code]

[2020-03-15 16:09] jacobp100 commented on #137
The grouping is an interesting idea, but it would be quite hard to actually implement

Closing as your solution is the best workaround

[2020-03-15 16:09] #137 closed

[2020-03-17 14:50] #134 closed

[2020-04-02 10:33] Sharcoux opened #138 "Support vh and vw units"
Hi,

I think we should be able to support vh and vw units by replacing `Xvh` by `X * Dimensions.get('window').height / 100` and `Xvw` by `X * Dimensions.get('window').width / 100`, can't we?

[2020-04-02 10:37] Sharcoux commented on #138
Check this out: https://github.com/DriveWealth/gulp-react-native-stylesheet-css/issues/2

[2020-04-02 10:42] jacobp100 commented on #138
I'm guessing this issue more asking for vw/vh support in styled components. There's not much this library can do to add support there - it's up to styled components to add support for it in their runtime

My styled-components clone supports it (https://jacobp100.github.io/cssta/css-support/) - so it is definitely possible for support to be added!

I'll close this issue as there's nothing we can do

[2020-04-02 10:42] #138 closed

[2020-04-02 11:08] Sharcoux commented on #138
Oh, sorry then, I thought it was the right project to target. Ok, I'll move it there.

[2020-04-02 11:54] jacobp100 commented on #138
There’s probably an issue already. It’s a common feature request

[2020-04-02 12:35] Sharcoux commented on #138
Yeah, I found it. Seems on stand by for now. I'll try to understand exactly how it should be done, see if I can give it a try.

[2020-04-13 16:41] sibelius commented on #40
can we have a stylelint for this?

https://stylelint.io/

[2020-04-13 17:58] sibelius commented on #40
what is the codemod that adds units?

[2020-04-13 19:32] sibelius commented on #40
codemod here https://github.com/styled-components/styled-components-native-code-mod

fix to work with latest styled-components version https://github.com/styled-components/styled-components-native-code-mod/pull/21

[2020-04-18 06:14] mstarcevic commented on #40
I'm using both styled-components and styled-system with typescript. I have found that if you make use of the default parms, you can use without units and there will not be any warnings pop up.

You can either include everything with the defaults or mix as you like. For the styles that are entered with the defaults, the format is as per RN but for the styles within the styled-component proper, it i

[2020-04-23 02:17] resting opened #140 "How do I add bottom border?"
Have the following component, but the border bottom doesn't appear

[code]

The generated CSS [here](https://csstox.surge.sh/) looks fine:
[code]

[2020-04-23 07:24] jacobp100 commented on #140
You can’t borders on text elements in react native

[2020-04-23 07:24] #140 closed

[2020-04-23 08:39] resting commented on #140
I'm on react-native 0.62. Looks like it's possible.
Have tried adding the style to the title on the [docs](https://reactnative.dev/docs/text)
![image](https://user-images.githubusercontent.com/350530/80077912-bf4ca200-8580-11ea-9aec-bd03feb4c717.png)

[2020-04-23 08:43] jacobp100 commented on #140
The output you pasted looks fine, so we’re doing the right thing in this library

You can try putting that style directly into RN, because I think you can’t put borders on text and that the docs might be wrong

[2020-04-23 09:04] resting commented on #140
You're right. Sorry, the preview was on web.
Just realize my mistake when it shows on Android while testing it.
I suppose best practice now is to just use `View` instead. Thanks!

[2020-04-23 09:30] jacobp100 commented on #140
Glad I could help - if only a little! 😄

[2020-04-25 23:32] bsehovac opened #141 "[Feature Request] Custom Unit Converter"
In my last project, I had design for iPhone X, and it required a lot of adjustment for screens smaller than 375pt. So i've made this scaled unit which would scale down everything only on smaller screens:

[code]

Now the issue with this, is when I use this in styled-components, it's real mess:

[code]

You see where this is going, imagine I had to use this for each unit in project...

Since react

[2020-04-26 08:07] jacobp100 commented on #141
We try to limit the scope of this project to just vanilla css — otherwise once we add everyone’s feature requests this project would be massive

Because this can be done by other means I’d be very hesitant about supporting this

[2020-04-26 08:33] bsehovac commented on #141
Yeah, I guess you are right...

[2020-04-26 08:33] #141 closed

[2020-05-07 12:16] sourabhv commented on #141
How about adding a support for declaring extra units, like `em`/`sp` and parsing `margin-bottom: 5em` as `marginBottom: '5em'` instead of `marginBottom: 5`. Its upto the person adding custom unit support to handle it? This way there is barely any overhead for this library

[2020-05-07 13:16] jacobp100 commented on #141
We might allow specifying the values of some of standard CSS units and then dropping those values in. There's a branch showing it as a POC, but the codebase needs a refactor if we actually want to merge it in. I'm not actively working on that PR at the moment - so anyone is open to take it up

[2020-05-14 00:51] fortezhuo opened #143 "Provide support for variable currentColor"
[code]

[2020-05-14 08:09] jacobp100 commented on #143
Only Text elements can have a color defined, and they can't have borders

[2020-05-14 08:09] #143 closed

[2020-07-03 11:33] selrond opened #144 "[feature request] Add support to do reverse"
Usecase:
I have a custom styled component, where I want to use third-party styles (which are in `style` object form) alongside my styles and functions:

[code]

The solution would be to be able to convert `thirdPartyStyleObject` to css string, which could be used inside my styled component.

Is there any other solution that I'm unaware of?

[2020-07-03 11:43] jacobp100 commented on #144
Could you elaborate a bit more? I can’t work out what you’re trying to do

[2020-07-03 12:02] selrond commented on #144
@jacobp100 I want to use third party style alongside custom css inside styled component - so a style object alongside a css template literal. How would you do that?

[2020-07-03 12:20] jacobp100 commented on #144
If you look at the readme for this project, we take an array of style tuples - like `[["color", "red"], ["padding", "3px 5px"]]`, and then return a valid style object.

If you write some code to convert your CSS to that format, you can use the style object we give you. The easiest (but not 100% correct) thing is,

[code]

[2020-07-03 12:36] selrond commented on #144
But I don't need the style object. I need the ability to "merge" styles from the third-party `style` object with styled components

[2020-07-03 12:55] jacobp100 commented on #144
You can look at these,

* https://styled-components.com/docs/basics#extending-styles
* https://gist.github.com/carlosepp/7704cce24edba0520eb6b36d894f04ae

But at this point, you're talking about styled component issues. If you're still stuck, could you open this issue on their repo?

[2020-07-03 12:55] #144 closed

[2020-07-03 12:59] selrond commented on #144
@selrond I'm talking about s-c issues, because you've asked me to elaborate.
The question remains - could this lib be extended to do the opposite to what it does now? `react-native-to-css`

[2020-07-03 13:10] jacobp100 commented on #144
I personally don't have much interest in taking that task on. If someone else wanted to do this, I would say do it in a separate project - I want to keep this project limited to what's in the name

But I also expect this to be impossible to implement correctly - there's no way to convert `{ padding: 5 }` to CSS without changing the behaviour

[2020-07-03 13:12] jacobp100 commented on #144
Also, styled components has some form of support for objects - see https://styled-components.com/docs/advanced#style-objects

[2020-08-05 09:48] Pierre-CLIND opened #146 "Add needsUnit to false for the project - v5"
Since :
https://github.com/styled-components/styled-components/pull/2811

And the v5 .

I have many errors in my code, it's possible to change "needsUnit" to false for the project?

I want to use ReactNative directly without styled-components units

![image](https://user-images.githubusercontent.com/56550362/89398368-4f1df280-d711-11ea-8bcd-17791b6d4f4a.png)

[2020-08-05 10:26] jacobp100 commented on #146
We're not looking to re-enable support for omitting units where they're required in CSS. If you want more information, you'll find some reasonings for this in past issues and PRs

[2020-08-05 10:26] #146 closed

[2020-10-03 23:41] joseDaKing opened #149 "Hi, does this library include a sanitizer or validator"
Hi, wonder if this library includes sanitizer for removing css prop or values that cannot be used with react native? The reason I need sanitizer library is because I am trying to port tailwindcss to RN. There are already a tailwindcss library for RN but the library do not have many features. The way I want to port the library is by compiling the generated tailwindcss file to js file that consists

[2020-10-04 11:04] jacobp100 commented on #149
It doesn’t. You’ll need to do that processing before!

[2020-10-04 11:07] joseDaKing commented on #149
@jacobp100 alright then, thanks for the answer, by the way do you know if there are library that already does that ?

[2020-10-04 11:30] jacobp100 commented on #149
I don’t think there’s a library that would to that. Different react native components accept different style props, so I’m not really sure how it would work to be honest.

[2020-10-04 11:30] jacobp100 commented on #149
Going to close this issue but you’re welcome to ask more questions if you need any pointers.

[2020-10-04 11:30] #149 closed

[2020-10-21 19:35] wtfluckey commented on #40
What is the status on this? Other issues are being [closed](https://github.com/styled-components/css-to-react-native/issues/129) and linking to this one, but there is no indication on whether or not this idea is dead or still being considered?

[2020-10-21 20:15] jacobp100 commented on #40
It's not being considered. I wanted to keep this open for visibility, but it's probably had its time now.

Hope this clarifies things

[2020-10-21 20:15] #40 closed

[2020-11-03 17:33] georgii-ivanov commented on #48
Having the same issue:

https://github.com/styled-components/styled-components/issues/3323

Could you please take a look at this issue again?
Because you can actually keep in your hashed stylesheet :hover and other css-specific declarations.
Nobody's asking there to port those to get that worked on react-native.

[2020-11-05 03:18] NE-SmallTown opened #150 "[Feature Request]Allow all usage of omitting unit"
At now, we can use `width: 20` or `line-height: 20`, but use `padding: 20` or `transform: translateX(-400)` will get error. Could we support these cases too? Thanks.

[2020-11-05 11:05] jacobp100 commented on #150
This was discussed in #40 - but in short, we have thought about this a lot and came to the conclusion not to do this.

[2020-11-05 11:05] #150 closed

[2020-12-08 15:55] joseDaKing opened #151 "The type decelerations for v3 are not included in build package?"
Hi, I am using this library with typescript and typescript complains that there are not type decelerations. I looked in the package folder and the type decelerations are not included.

[2020-12-08 18:35] jacobp100 commented on #151
PRs accepted 😁

[2020-12-23 02:36] WDever opened #153 "Is this library convert '10px' to '10'?"
I'm really confused. Is this library convert '10px' to '10?

For example with emotion-js

[code]

I want to know. THX!

[2020-12-23 06:08] WDever commented on #153
I checked It!

[2020-12-23 06:08] #153 closed

[2021-02-15 08:15] flyskywhy commented on #48
Maybe you can ref to my answer in [onmouseenter event in react native](https://stackoverflow.com/a/66204539/6318705)

[2021-03-01 10:48] Sharcoux commented on #48
You guys might want to try [rn-css](https://www.npmjs.com/package/rn-css) that is handling hover and a bunch of other features to have a common CSS between RNW and RN.

[2021-04-09 23:21] OKNoah commented on #137
As of `react-native@0.63.0` you must simply change two lines of @pie6k's code:

[code]

[2021-07-07 15:08] pierpo opened #161 "borderColor transformation not compatible with Image style props"
Hi!

I used an `Image` component with a border color like this:

[code]

But I face the following warning. Indeed, it looks like this package transforms `borderColor` to four properties `borderTopColor` etc.
Which does not work with the Image component style API https://reactnative.dev/docs/image-style-props#bordercolor

Any idea on how we could solve this?

[code]

[2021-07-07 15:24] jacobp100 commented on #161
Could you file this in styled-components?

[2021-07-07 15:24] #161 closed

[2021-07-07 15:54] pierpo commented on #161
Sorry, thought this would be the relevant repo. Thanks!

[2021-08-23 13:16] RemyMachado commented on #11
5 years later, there still isn't a solution to this problem?

[2021-09-20 13:05] pedpess opened #165 "[Bug] Possible wrong regEx validation in var identRe inside index.js file"
Hi 👋🏻 ,

I have an issue with regEx validation that's done with `var identRe = (^-?[_a-z][_a-z0-9-]*$)` inside of the `index.js` file that cause my app to crash during start-up. This peculiar case only happens with my `fontFamily` that's named as `OctoberH+L-Black` with the `+` plus sign being the main issue here as this regEx within the lib code doesn't take that into consideration.

I patched a

[2021-09-20 13:09] jacobp100 commented on #165
You need quotes for that family name.

[code]

I just tested in a browser and it marks it invalid too - so I don't think this is a bug.

Please reply if you disagree though!

[2021-09-20 13:09] #165 closed

[2021-09-20 13:12] jacobp100 commented on #165
See https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#valid_family_names

[2021-09-20 13:31] pedpess commented on #165
That's what I'm doing and if you use plain styled components `<Text />` in React Native that would work, so you are correct. 👌🏻

However, the problem lies when I want to pass a Theme definition object through `ThemeProvider` that styled components offer me, so in the React Native app, I can render either a Dark or Light theme with the styling definitions, f.ex typography.

Somehow (that I don't un

[2021-09-20 13:53] jacobp100 commented on #165
What about if you add extra quotes in your theme provider?

[code]

(Or however you're meant to do that in SC)

If that doesn't work, it might be better to go back to SC for advice.

As far as I can tell, we're following the CSS spec here - and we make a lot of effort to do this. Your proposed change would mean we no longer followed the CSS spec.

[2021-09-20 15:14] pedpess commented on #165
Oho! Scaping the strings like you recommended defacto works! 🤩

[code]

I wonder now why I would need to scape it here and if SC wouldn't understand the parsing already like this `fontFamily: "OctoberH+L-Black"`

Do you want me to write some docs explaining that somewhere? I would be happy to help and thanks in advance for the patience here sharing the fix with me :)

[2022-05-26 14:20] GonzaloTD360 commented on #140
It works, u're awesome

[2022-09-06 18:30] sguduguntla opened #167 "Issue with css variables for border-color"
When I try, `color` or `background-color` with CSS variables, it works fine, but when I do the following:

[code]

It errors. Can this be fixed to allow border-colors with css variables as well?

[2022-09-06 19:30] jacobp100 commented on #167
You need to have handled `var`s before handing off to this library. Look at how my library, Cssta, handles it

[2022-10-04 18:20] matthew-dean opened #168 "How will this package handle `@container` queries?"
We're in the process of defining how our existing components (currently Styled Components for web) will be used with React Native. At the same time, [Container Queries are just around the corner](https://caniuse.com/css-container-queries), and I could see us integrating these when these land in all major browsers.

My understanding is that only Styled Components v6 will support Container Queries,

[2022-10-04 18:24] matthew-dean commented on #168
It looks like something could be done with parsing the `@container` syntax into an observer for `onLayout` callbacks? https://reactnative.dev/docs/view#onlayout

[2022-10-04 18:39] jacobp100 commented on #168
This library doesn’t go that far. You gotta layer that stuff on top

[2022-10-04 18:39] #168 closed

[2022-10-17 03:11] jueungrace opened #170 "No support for `currentcolor`"
I was wondering if adding an extra check for `node.value === 'currentcolor'` would cause large issues in the `matchColor` function.

[2022-10-17 07:29] jacobp100 commented on #170
You need to write code on top of this library to do that

[2022-10-17 10:28] jacobp100 commented on #170
Sorry - I misunderstood this request. I can only think of one use-case that would actually work, if you have Text container B nested in Text container A, if B had a colour set by default and you wanted to unset it and inherit the text colour, you could use `color: currentColor`, and we'd output `{ color: undefined }` to achieve that.

However, at the same time, I think people would expect this to

[2022-10-17 13:54] jueungrace commented on #170
@jacobp100 no worries, I definitely could've provided more context! And yes, instead of throwing an error when the value is `currentColor`, I like the idea of outputing something like `{ color: undefined }` to give developers flexibility to handle `currentColor` on top of `css-to-react-native`. I'll check in here and there in case you land on an approach you feel good about! :)